<!DOCTYPE html>
<html>
<head>
  <meta name="google-site-verification" content="5wpiGNi5jykxbjzPY1dBQZ4Oambndbh3M49IG7CVZP0" />
  <title>Shadal</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
